@{
    ViewData["Title"] = "Administration";
}

<h1 class="text-center">Administration Area!</h1>
<div class="mt-4">
    <div class="card text-white bg-info mb-3 card-radius">
        <div class="card-body">
            <h5 class="card-title">Supplements Categories</h5>
            <p class="card-text">As Administrator you can Edit, Restore and Delete Supplements Categories.</p>
        </div>
        <a asp-area="Administration" asp-controller="SupplementCategories" asp-action="All" class="btn btn-primary text-white btn-lg">Click Here</a>
    </div>
    <div class="card text-white bg-info mb-3 card-radius">
        <div class="card-body">
            <h5 class="card-title">User Workouts Payments</h5>
            <p class="card-text">As Administrator you can Edit, Restore and Delete Supplements Categories.</p>
        </div>
        <a asp-area="Administration" asp-controller="WorkoutPayments" asp-action="All" class="btn btn-primary text-white btn-lg">Click Here</a>
    </div>
</div>