@{
    ViewData["Title"] = "Administration";
}

<div class="text-center">
    <h1>Administration Area!</h1>
</div>
<hr/>
<br/>
<a asp-area="Administration" asp-controller="SupplementCategories" asp-action="All" class="btn btn-primary text-white btn-lg">Supplements Categories</a>