<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - StreetWorkout</title>
    <link rel="stylesheet" href="~/vendor/bootstrap/bootstrap.min.css" asp-append-version="true">
    <link href="~/lib/fontawesome/css/all.css" rel="stylesheet" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/lazy.css" asp-append-version="true">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-info mb-4">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Street Workout</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse text-center" id="navbarNavDropdown-3">
                    <ul class="navbar-nav">
                        @if (User.Identity.IsAuthenticated)
                        {
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="Workouts" asp-action="All">Workouts</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="GroupWorkouts" asp-action="All">Group Workouts</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="Supplements" asp-action="All">Supplements</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="Chat" asp-action="Chat">Chat</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="Trainers" asp-action="All">Trainers</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="BodyCalculators" asp-action="Calculate">Body Calculator</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="Accounts" asp-action="Account" asp-route-username="@User.Identity.Name">Account</a>
                            </li>
                        }
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="https://bootstrapbay.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Services
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <a class="dropdown-item" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Settings</a>
                                <a class="dropdown-item" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                            </div>
                        </li>
                    </ul>
                </div>
                <partial name="_LoginPartial" />
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <footer class="footer-1 text-white bg-info">
        <div class="container">
            <div class="d-flex flex-column flex-md-row justify-content-between align-items-center">
                <ul class="footer-menu list-unstyled d-flex flex-row text-center text-md-left">
                    <li><a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a></li>
                    <li><a href="https://github.com/vasiltatarov/Street-Workout" target="_blank">Project Source Code</a></li>
                </ul>
                <div class="social mt-4 mt-md-0">
                    <a class="facebook btn btn-outline-primary btn-icon" href="https://www.facebook.com/profile.php?id=100043913825026" target="_blank">
                        <i class="fab fa-facebook"></i>
                        <span class="sr-only">View our Facebook Profile</span>
                    </a>
                    <a class="github btn btn-outline-primary btn-icon" href="https://github.com/vasiltatarov" target="_blank">
                        <i class="fab fa-github"></i>
                        <span class="sr-only">View our GitHub Profile</span>
                    </a>
                </div>
            </div>
            <div class="copyright text-center">
                <hr>
                <p class="small">© 2021, made with <span class="text-danger"><i class="fas fa-heart"></i></span> by Vasko</p>
            </div>
        </div>
    </footer>

    <script src="~/vendor/jquery/jquery.min.js" asp-append-version="true"></script>
    <script src="~/vendor/popper/popper.min.js" asp-append-version="true"></script>
    <script src="~/vendor/bootstrap/bootstrap.min.js" asp-append-version="true"></script>
    <script src="~/vendor/nouislider/js/nouislider.min.js" asp-append-version="true"></script>
    <script src="~/js/lazy.js" asp-append-version="true"></script>
    <script src="~/lib/signalr/dist/browser/signalr.min.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
