body {
    background: aliceblue;
}

/*from Account.cshtml*/
.star-checked {
    color: orange;
}

/*from Index.cshtml*/
.card-home-img {
    height: 200px;
}

.card-height {
    height: 500px;
}

/*from Trainers All.cshtml*/
.img-trainer {
    width: 100%;
    height: 200px;
}

.card-trainer {
    border: 1px solid black;
    border-radius: 10px;
}

/*from Workouts All.cshtml*/
.workout-img {
    height: 200px;
}

/*from Admin Home Index.cshtml*/
.card-radius {
    border-radius: 20px;
}